## Settings file was created by plugin Party Prison v1.0.0
## Plugin GUID: valheimmodpack.partyprison

[Controls]

## Prison host controls / prisoner activities. Rebind in Bindrune.
# Setting type: KeyboardShortcut
# Default value: F12 + LeftControl
OpenPrison = F12 + LeftControl
