## Settings file was created by plugin Party Prison v1.5.2
## Plugin GUID: valheimmodpack.partyprison

[Controls]

## Host controls only. Inmates use the arena console in their cell with the game's Use key. Rebind in Bindrune.
# Setting type: KeyboardShortcut
# Default value: F12 + LeftControl
OpenPrison = F12 + LeftControl
