## Settings file was created by plugin Portal Finder v1.0.1
## Plugin GUID: valheimmodpack.portalfinder

[Controls]

## Find the nearest portal to the player on the large map. Rebind with Bindrune.
# Setting type: KeyboardShortcut
# Default value: J + LeftControl
FindNearestToPlayer = J + LeftControl

## Arm/cancel choosing a map point for the nearest portal. Rebind with Bindrune.
# Setting type: KeyboardShortcut
# Default value: J + LeftControl + LeftShift
SelectMapPoint = J + LeftControl + LeftShift
